body {
    text-align: center;
    background-image: url(../images/backgroundpic.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* this the size of the icons in navbar*/

#size {
    width: 50px;
    height: 50px;
}

/*width of the cards*/

.card {
    width: 18rem;
}

/* white background for the navbar and the container*/

.container {
    background: white;
}

/* width and height of slide-deck images*/

#pic1 {
    width: 250px;
    height: 560px;
}

/* text color for h5 and p*/

h5, p {
    color: goldenrod;
}

/* text color of slide-deck image 2, text color of injera*/

.p4 {
    color: white;
}

/* text color of description text in slide-deck*/

.p5 {
    color: white;
}

/* title of website text color*/

h1 {
    color: white;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

/* white link color for slide-decks*/

a {
    color: white;
    font-style: oblique;
}

/* top hover button*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

/* top hover color*/

#myBtn:hover {
    background-color: #555;
}

/*text color of top/back button*/

#white-color:hover {
    color: white;
}

#black-color {
    color: black;
}

#black-color:hover {
    color: black;
}