body {
    text-align: center;
    background-image: url(../images/backgroundpic.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* this the size of the icons in navbar*/

#size {
    width: 50px;
    height: 50px;
}

/*width of the cards*/

.card {
    width: 18rem;
}

.container {
    background: white;
}

#pic-size {
    width: 600px;
    height: 700px;
}

h5, p {
    color: goldenrod;
}

h1 {
    color: white;
}

/*the color of the description text for each image*/

span {
    background-color: gray;
    color: white;
}

/* text underneath the images*/

#textunder {
    font-style: italic;
}

/*for the cards*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

/*the text color of the links on the slide-deck*/

a {
    color: white;
    font-style: oblique;
}

/*the hover top button*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

/*the hover top button*/

#myBtn:hover {
    background-color: #555;
}

/*the text of the links on the slide-deck, back button andare white*/

#white-color:hover {
    color: white;
}

/*the back button*/

.previous {
    background-color: green;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 14px 14px;
    border-radius: 50%;
}

#white-color:hover {
    color: white;
    text-decoration: none;
}

/*the back button background color*/

.previous:hover {
    background-color: #555;
}

/*position of the back button*/

.prevButton {
    position: absolute;
    left: 280px;
}